.login-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.login-form {
  // max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo-image{
  width: 50%;
  height: 50%;
  object-fit: cover;
}
